
:root {
  --white: white;
  --gray: lightgray;
  --darkgray: darkgray;
  --active: forestgreen;
  --background-light: #313747;
  --background-dark: #1B1E2C;
  --background-canvas: #1B1E2C;
  --button-background: #292C3C;
  --button-background-hover: #2d3041;
}
