
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: var(--gray);
  background: var(--button-background);
  border-radius: 0;

  svg{
    width: 16px;
    height: 16px;
  }
}

