

input[type="text"], input[type="number"] {
  border-bottom: 1px solid gray;
  background: rgba(0,0,0,0.1);

  padding: 0 8px;

  &::placeholder {
    color: #bbb;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid white;
  }
}



